<header id="header" class="header">
    <div class="header__content">
        <div class="header__title">
            מוטי גלוסקה
            <br>
            מחקרי ביטחון ואסטרטגיה
        </div>
        <div class="header__description">
            תקציר של 5-6 שורות טקסט מגיע לכאן דמו טקסט
            הדפיה. צרו בעזרתיכם אחרים לכלות העבדונות. יצו
            אם אות התוכלוחד. תוכן עות נפשר בקוד הדפיקר,
            ייררכים דונות. הטי את כלו ממשמעות הזמנים לספו
            ממשמאל.
        </div>
    </div>
    <div class="header__man"></div>
</header>