.header {
    background: url(../../img/bg_header_man.png) center/cover no-repeat;
    min-height: 600px;
    margin-top: 80px;    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    @include lg(background, url(../../img/bg_header.png) center/cover no-repeat);
    @include lg(min-height, 500px);    
}

.header__content {
    max-width: 550px;
    margin-right: 550px;
    @include xl(margin-right, 420px);
    @include lg(margin, auto);
    @include sm(max-width, 90%);    
}

/* .header__man {
    background: url(../../img/man.png) no-repeat;
    width: 500px;
    height: 500px;
} */

.header__title {
    color: #93e0fe;
    font-family: "Fb Spacer";
    font-size: 54px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 40px;
    position: relative;
    @include xs(font-size, 48px);
    &:after {
        content: '';
        background: url(../../img/hr_header.png) no-repeat;
        background-size: cover;
        height: 10px;
        width: 100%;
        position: absolute;
        bottom: -25px;
        right: 0;
        @include sm(background-position, 100%);        
    }
}

.header__description {
    color: #fff;
    font-family: "Fb Spacer";
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    @include xs(font-size, 24px);
}