.research {
    margin-top: 80px;
    overflow-x: hidden;
}

.slider {
    margin-top: 80px;
}

.slider__item {
    position: relative;
    &:after {
        content: '';
        background: linear-gradient(to top, rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.616) 20%, rgba(0, 0, 0, 0.466) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.002));
        width: 100%;
        height: 25%;
        bottom: 0;        
        left: 0;
        right: 0;
        z-index: 1;
        position: absolute;
    }
}

.slider__text {
    color: #ffffff;    
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;    
    z-index: 100;
}

.slider__img {
    width: 100%;
}

.research__content {
    margin-top: 50px;
    p {
        color: #003c7d;        
        font-size: 22px;
        font-weight: 400;
        line-height: 1.25;
    }
}

.slider__arrow {
    position: absolute;
    font-size: 37px;
    top: calc(50% - 103px/2);
    padding-top: calc((103px - 37px)/2);
    
    z-index: 100;
    color: #003c7d;
    cursor: pointer;
    &[aria-disabled="true"] {
        color: rgba(0, 60, 125, 0.5);        
        cursor: default;
    }
    background: rgba(255, 255, 255, 0.76);
    width: 103px;
    height: 103px;
    border-radius: 50%;
    font-weight: bold;
}

.slider__prev {
    left: -45px;
    padding-left: 60px;
}

.slider__next {
    right: -45px;
    padding-left: 16px;
}