<section id="research" class="research">
    <div class="h2">המחקר שלי</div>
    <div class="hr"></div>

    <div class="research__slider slider">
        <div class="slider__item">
            <img class="slider__img" src="../../img/slide1.png" alt="">
            <div class="slider__text container">
                מלווא בתמונת אווירה המתאימה לנושא, כאן תופיע טקסט  2 שורות מקסימום
            </div>
        </div>

        <div class="slider__item">
            <img class="slider__img" src="../../img/slide1.png" alt="">
            <div class="slider__text container">
                מלווא בתמונת אווירה המתאימה לנושא, כאן תופיע טקסט  2 שורות מקסימום
            </div>
        </div>
    </div>

    <div class="research__content container">
        <div class="h3">והארץ תרעד...</div>

        <p>
            רעידת אדמה התחוללה באוקטובר 1973 – מלחמת יום הכפורים פרצה. חצי שנה לאחר מכן, באפריל 1974) התחוללה רעידת אדמה
            שניה – פורסם הדו"ח החלקי של ועדת אגרנט: רעידת אדמה ציבורית ופוליטית. 
        </p>
        <p>
            חודשיים אחרי תחילת המלחמה, ואחרי 5 חודשים של חקירות אינטנסיביות, פרסמה ועדת אגרנט – ועדת חקירה ממלכתית – דו"ח המטיל אחריות כבדה למחדל יום הכיפורים. אמנם הדרג המדיני יצא פטור, אך מחאה ציבורית שישראל לא ידעה כמותה הביאה לכך שממשלתה של גולדה מאיר סיימה את תפקידיה. מנהיגי המחדל הלכו הביתה.
        </p>
        <p>
            במעבר חד, 33 שנים מאוחר יותר, פרסמה ועדת וינוגרד, ועדת בדיקה ממשלתית, את מסקנותיה לגבי המערכה בלבנון (2006). הפעם הלכו הביתה רמטכ"ל ושר ביטחון.
        </p>
        <p>
            ועדת אגרנט סברה כי הדרג המדיני עומד למשפט הציבור. ועדת וינוגרד, בניגוד אליה, סברה כי על הדרג המדיני ליטול אחריות על תהליך לקוי של קבלת החלטות ויציאה למלחמה מבלי לדעת מה מטרותיה, כיצד מנהלים אותה וכיצד מסיימים אותה. 
        </p>
        <p>
            למרות ההבדל ביניהן מדהים ומרתק לראות כי שתי הוועדות מגיעות למסקנות זהות לחלוטין. כך נכתב למשל בדו"ח החלקי של ועדת אגרנט (1974): "עוד אנו סבורים, שבעתות מלחמה מן הראוי שהממשלה תסמיך את ראש הממשלה להקים צוות שרים מצומצם בראשותו (של לא יותר מחמישה חברים), אשר יהיה מופקד על ההכרעה בעניינים דחופים הנוגעים לניהול המלחמה".
        </p>
        <p>
            מילים זהות כמעט לחלוטין ניתן למצוא בדו"ח הסופי של ועדת וינוגרד (2008): "למסד מוסד דמוי "קבינט מלחמה", שיופעל בשעת משברים ביטחוניים חמורים, שייפגש בתכיפות, וידון במתווה המהלכים הכולל כמו גם בסוגיות ספציפיות מרכזיות. בפורום זה צריכים, בין השאר, להיות חברים שרי ממשלה בעלי ניסיון מדיני ובטחוני, ללא קשר לצרכים קואליציוניים".
        </p>
        <p>
            בהפרש של שלושים ושלוש שנים הגיעו שתי ועדות שונות, שהורכבו ממשפטנים בכירים, אנשי צבא בדרגות גבוהות ואנשי אקדמיה, למסקנות זהות לחלוטין. אפשר היה ממש "לשתול" כל אחד מהקטעים שצוטטו לעיל בתוך הדו"ח האחר – ואי אפשר היה להבחין בהבדל.
        </p>
        <p>
            שתי הוועדות סברו כי אין בישראל גוף מקצועי מצומצם – מעין "קבינט מלחמה" – שתפקידו לנהל את המערכה הצבאית ולקבל החלטות תוך כדי ניהול. שתיהן מצאו כי לא היה גוף מודיעיני מקצועי לצד מקבלי ההחלטות, שיניח בפנים תשתית ראויה של מידע לפני קבלת החלטות – הן בתחום המדיני והן בתחום המודיעיני; שתי הוועדות הגיעו למסקנה שמצב זה הביא לקבלת החלטות שגויות, שאף גרמו לאבדן חיי אדם.
        </p>
        <p>
            בתמצית: שתי הוועדות ביקרו קשות את תהליכי קבלת ההחלטות ערב יציאה למלחמה, את אופן ניהולה ואת ההליכים שהובילו לסיומה, ובכל זאת נדמה שהמסקנות לא הובילו לשינוי אמיתי ויסודי.
        </p>
        <p>
            חלפו 10 שנים מאז פורסם דו"ח וינוגרד ומבקר המדינה פרסם דו"ח חריף על התנהלות הדרג המדיני במבצע "צוק איתן" תוך שהוא מצטט מדו"חות אגרנט ווינוגרד – בחינת אין חדש תחת השמש...
        </p>
        <p>
            בימים אלו אני שוקד על מחקר מקיף, שמטרתו לנסות להגיע לשורש הבעיה: מהו ההסבר לכך שבסוגיות מהותיות ומרכזיות בתחום ניהול ענייני הביטחון של מדינת ישראל  ישנם כשלים וליקויים החוזרים שוב ושוב?
        </p>
        <p>
            כדי לבחון זאת אני מבקש לסקור את תהליך יישום ההמלצות של ועדת אגרנט וועדת וינוגרד ככל שהן אכן יושמו במלואן, בחלקן או בכלל לא. לאור תוצאות סקירה זו, וככל שהמלצות לא יושמו ככל או לא יושמו במלואן, אנסה למצוא הסבר לתופעה זו – 
        </p>
        <p>
            מדוע לא נלמדו הלקחים והוסקו המסקנות המתבקשות מעבודת הוועדות? האם עובדה זו היא הגורם לכשלים חוזרים ונשנים בניהול המערכות המדיניות והצבאיות של ישראל, עד כדי אבדן בחיי אדם?
        </p>
        <p>
            עוד שאלות שאבקש לבחון לאור הראיות והמידע שיעלה במחקר שלי:
        </p>
        <p>
            - כיצד מגיב הציבור מרגע התרחשות האירוע הטראומטי ולאור חקירת הוועדה ופרסום מסקנותיה? האם ומדוע הציבור מסתפק במציאות אשמים ו"עריפת ראשים", אך אינו נותן את הדעת ליישום המלצות מהותיות ותיקון ליקויים?
        </p>
        <p>
            - האם אכן יש הבחנה בין כישלון הדרג המדיני (הנבחר) לבין כישלון הדרג הצבאי (הממונה)?
        </p>
        <p>
            - מדוע בעצם נוטים מקבלי ההחלטות (הפוליטיקאים) למנות ועדות חקירה? – הגם שאלו מטילות עליהם אחריות.
        </p>
        <p>
            מחקר זה, אני מקווה, יתרום לא רק להבנה אקדמית ותיאורטית של ההיסטוריה הקרובה בישראל, אלא יהווה גם זרז לשינוי תודעתי במציאות – בתהליכי קבלת החלטות, באופן שבו אנו מפקידים לקחים מאירועים מהותיים ובצורה שבה אנו מתמודדים איתם.
        </p>
        <p>
            במהלך המחקר אפרסם כאן בבלוג שלי תובנות וממצאים שוודאי יעניינו כל חוקר, תיאורטיקן וחובבי היסטוריה מדינית.
        </p>
    </div>
</section>