<section id="lectures" class="lectures">
    <div class="h2 light">הרצאות</div>
    <div class="hr light"></div>

    <div class="container less-padding">
        <div class="lectures__masonry">
            <div class="lectures__item" data-aos="fade-left-mini">
                <img src="../../img/l1.png" alt="">
                <div class="lectures__close"></div>
                <div class="lectures__content">
                    <div class="lectures__title">צבא שיש לו מדינה, שיש לה צבא</div>
                    <div class="lectures__text">
                        בין ה-12 במאי 1948 ל-15 במאי 1948, תאריך ההכרזה על הקמת המדינה, התרחשה סדרה של אירועים שעיצבו את פניה של  ישראל, ומשפיעים עליה עד עצם היום הזה.
                        במהלך שלוש הרצאות נתמקד בשלושה נושאים מרכזיים ומרתקים שלא קיבלו מספיק משקל:
                        1. להכריז או לא להכריז: ההתלבטויות שאפפו את מנהיגי היישוב היהודי בארץ ישראל טרום ההכרזה; ישיבת מנהלת העם ב-12.5.1948 – מה עמד על הפרק, הוויכוחים וההחלטות. האם באמת הייתה בסוף הצבעה מכריעה?
                        2. "בארץ ישראל קם העם היהודי": כיצד גובש הנוסח הסופי של מגילת העצמאות? כיצד התבצע התהליך מהמשפטנים ועד בן גוריון עצמו. נדון גם בחלקים ההצהרתיים של המגילה.
                        3. לא יהודית, לא דמוקרטית: אי אפשר להמעיט בחשיבות המסמך המכונן של ישראל ובהשפעתו על דמותה של המדינה. לאור זאת נבחר לעומק את החלק העוסק בזכויות האזרח, כיצד גובש, מה נכלל בו, מה לא ומדוע.
                    </div>
                </div>
            </div>
            <div class="lectures__item" data-aos="fade-left-mini" data-aos-delay="100">
                <img src="../../img/l2.png" alt="" >
                <div class="lectures__close"></div>
                <div class="lectures__content">
                    <div class="lectures__title">שלושה ימים במאי</div>
                    <div class="lectures__text">
                        בין ה-12 במאי 1948 ל-15 במאי 1948, תאריך ההכרזה על הקמת המדינה, התרחשה סדרה של אירועים שעיצבו את פניה של  ישראל, ומשפיעים עליה עד עצם היום הזה.
                        במהלך שלוש הרצאות נתמקד בשלושה נושאים מרכזיים ומרתקים שלא קיבלו מספיק משקל:
                        1. להכריז או לא להכריז: ההתלבטויות שאפפו את מנהיגי היישוב היהודי בארץ ישראל טרום ההכרזה; ישיבת מנהלת העם ב-12.5.1948 – מה עמד על הפרק, הוויכוחים וההחלטות. האם באמת הייתה בסוף הצבעה מכריעה?
                        2. "בארץ ישראל קם העם היהודי": כיצד גובש הנוסח הסופי של מגילת העצמאות? כיצד התבצע התהליך מהמשפטנים ועד בן גוריון עצמו. נדון גם בחלקים ההצהרתיים של המגילה.
                        3. לא יהודית, לא דמוקרטית: אי אפשר להמעיט בחשיבות המסמך המכונן של ישראל ובהשפעתו על דמותה של המדינה. לאור זאת נבחר לעומק את החלק העוסק בזכויות האזרח, כיצד גובש, מה נכלל בו, מה לא ומדוע.
                    </div>
                </div>
            </div>
            <div class="lectures__item big" data-aos="fade-left-mini" data-aos-delay="200">
                <img src="../../img/l3.png" alt="">
                <div class="lectures__close"></div>
                <div class="lectures__content">
                    <div class="lectures__title">המשך המדיניות באמצעים אחרים</div>
                    <div class="lectures__text">
                        בין ה-12 במאי 1948 ל-15 במאי 1948, תאריך ההכרזה על הקמת המדינה, התרחשה סדרה של אירועים שעיצבו את פניה של  ישראל, ומשפיעים עליה עד עצם היום הזה.
                        במהלך שלוש הרצאות נתמקד בשלושה נושאים מרכזיים ומרתקים שלא קיבלו מספיק משקל:
                        1. להכריז או לא להכריז: ההתלבטויות שאפפו את מנהיגי היישוב היהודי בארץ ישראל טרום ההכרזה; ישיבת מנהלת העם ב-12.5.1948 – מה עמד על הפרק, הוויכוחים וההחלטות. האם באמת הייתה בסוף הצבעה מכריעה?
                        2. "בארץ ישראל קם העם היהודי": כיצד גובש הנוסח הסופי של מגילת העצמאות? כיצד התבצע התהליך מהמשפטנים ועד בן גוריון עצמו. נדון גם בחלקים ההצהרתיים של המגילה.
                        3. לא יהודית, לא דמוקרטית: אי אפשר להמעיט בחשיבות המסמך המכונן של ישראל ובהשפעתו על דמותה של המדינה. לאור זאת נבחר לעומק את החלק העוסק בזכויות האזרח, כיצד גובש, מה נכלל בו, מה לא ומדוע.
                    </div>
                </div>
            </div>
            <div class="lectures__item" data-aos="fade-left-mini">
                <img src="../../img/l4.png" alt="">
                <div class="lectures__close"></div>
                <div class="lectures__content">
                    <div class="lectures__title">הלקח שלא נלמד</div>
                    <div class="lectures__text">
                        בין ה-12 במאי 1948 ל-15 במאי 1948, תאריך ההכרזה על הקמת המדינה, התרחשה סדרה של אירועים שעיצבו את פניה של  ישראל, ומשפיעים עליה עד עצם היום הזה.
                        במהלך שלוש הרצאות נתמקד בשלושה נושאים מרכזיים ומרתקים שלא קיבלו מספיק משקל:
                        1. להכריז או לא להכריז: ההתלבטויות שאפפו את מנהיגי היישוב היהודי בארץ ישראל טרום ההכרזה; ישיבת מנהלת העם ב-12.5.1948 – מה עמד על הפרק, הוויכוחים וההחלטות. האם באמת הייתה בסוף הצבעה מכריעה?
                        2. "בארץ ישראל קם העם היהודי": כיצד גובש הנוסח הסופי של מגילת העצמאות? כיצד התבצע התהליך מהמשפטנים ועד בן גוריון עצמו. נדון גם בחלקים ההצהרתיים של המגילה.
                        3. לא יהודית, לא דמוקרטית: אי אפשר להמעיט בחשיבות המסמך המכונן של ישראל ובהשפעתו על דמותה של המדינה. לאור זאת נבחר לעומק את החלק העוסק בזכויות האזרח, כיצד גובש, מה נכלל בו, מה לא ומדוע.
                    </div>
                </div>
            </div>
            <div class="lectures__item" data-aos="fade-left-mini">
                <img src="../../img/l5.png" alt="">
                <div class="lectures__close"></div>
                <div class="lectures__content">
                    <div class="lectures__title">החלטה גורלית</div>
                    <div class="lectures__text">
                        בין ה-12 במאי 1948 ל-15 במאי 1948, תאריך ההכרזה על הקמת המדינה, התרחשה סדרה של אירועים שעיצבו את פניה של  ישראל, ומשפיעים עליה עד עצם היום הזה.
                        במהלך שלוש הרצאות נתמקד בשלושה נושאים מרכזיים ומרתקים שלא קיבלו מספיק משקל:
                        1. להכריז או לא להכריז: ההתלבטויות שאפפו את מנהיגי היישוב היהודי בארץ ישראל טרום ההכרזה; ישיבת מנהלת העם ב-12.5.1948 – מה עמד על הפרק, הוויכוחים וההחלטות. האם באמת הייתה בסוף הצבעה מכריעה?
                        2. "בארץ ישראל קם העם היהודי": כיצד גובש הנוסח הסופי של מגילת העצמאות? כיצד התבצע התהליך מהמשפטנים ועד בן גוריון עצמו. נדון גם בחלקים ההצהרתיים של המגילה.
                        3. לא יהודית, לא דמוקרטית: אי אפשר להמעיט בחשיבות המסמך המכונן של ישראל ובהשפעתו על דמותה של המדינה. לאור זאת נבחר לעומק את החלק העוסק בזכויות האזרח, כיצד גובש, מה נכלל בו, מה לא ומדוע.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>