.lectures {
    margin-top: 80px;
}

.less-padding {
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
}

.lectures__item {
    position: relative;
    @include col();
    @include size-md(4);
    margin: 0.6375rem;
    cursor: pointer;
    //transition: .17777s;
    
    img {
        width: 100%;        
        user-select: none;
    }
    &:after {
        content: '';
        background: linear-gradient(to top, rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.616) 20%, rgba(0, 0, 0, 0.466) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.002));
        width: 100%;
        height: 50%;
        bottom: 5px;        
        left: 0;
        right: 0;
        z-index: 1;
        transition: .2s;
        position: absolute;
    }
    &.active {
        @include size-md(6);
        z-index: 999;
        transition: .002s;
        &:after {
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0.002));
        }
        .lectures__text {
            display: block;
        }
        .lectures__title {            
            text-align: right;
            border-bottom: 1px solid #fff;
        }
        .lectures__close {
            display: block;
        }
    }
    &.big {
        right: auto !important;
        left: 30px;
    }
}

.lectures__content {
    position: absolute;
    bottom: 40px;
    z-index: 10;    
    left: 0;
    right: 0;
    padding: 0 25px;
}

.lectures__title {
    color: #fff;    
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.lectures__text {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.2;    
    display: none;    
}

.lectures__close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    z-index: 999;
    display: none;
}

.lectures__close:before, 
.lectures__close:after {
    content: ' ';   
    position: absolute;
    left: 15px;
    height: 50px;
    width: 2px;
    background-color: #fff;
    transition: .3s;
}

.lectures__close:before {
    transform: rotate(45deg);
}
.lectures__close:after {
    transform: rotate(-45deg);
}

.lectures__close:hover:before {  
    transform: rotate(135deg);
    cursor: pointer;
}
.lectures__close:hover:after {  
    transform: rotate(45deg);
    cursor: pointer;  
}