.blog {
    margin-top: 80px;
}

.blog__post {    
    padding: 50px 40px;
    &:nth-child(odd) {
        background: #fff;        
    }
    &:nth-child(even) {
        background: #eaeef2;
        .post__image {
            float: left;
            margin-left: 0;
            margin-right: 30px;
        }
    }
}
.post__wrapper {
    /* @include row-flex();
    justify-content: center; */
    @include row-float();
    position: relative;
}

.post__content {
    @include col-offsets(margin);
}

.post__image {
    @include col-float();
    margin-left: 30px;
    @include size-md(6);
    float: right;
    position: relative;
    height: 100%;
    &:after {
        content: '';
        background: linear-gradient(to top, rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.616) 20%, rgba(0, 0, 0, 0.466) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.002));
        width: 100%;
        height: 50%;
        bottom: 5px;        
        left: 0;
        right: 0;
        z-index: 1;
        position: absolute;
    }
    img {
        width: 100%;
    }
}

.post__title {
    color: #003c7d;    
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
}

.post__introtext, .post__alltext {
    color: #003c7d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 15px;
}

.post__alltext {    
    height: 0;    
    transition: .3s;
    opacity: 0;
    margin-top: 0;
    p {
        margin-top: 0;
    }
    &.active {
        height: 100%;
        opacity: 1;
    }        
}

.post__caption {
    position: absolute;    
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #ffffff;    
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    padding: 0 20px;
}

.post__info {
    max-width: 51%;
    margin-top: 15px;
    display: flex;    
    justify-content: space-between;
    margin-right: auto; 
}

.post__meta, .post__fb {
    display: flex;
    align-items: center;
}

.post__date {
    color: #003c7d;    
    font-size: 21px;
    font-weight: 400;
}

.post__fb {
    a {        
        color: #003c7d;    
        font-size: 21px;
        font-weight: 400;
        text-decoration: none;
        margin: 0 15px 0 8px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.post__more {
    border-radius: 26px;
    background-color: #0088d6;
    color: #fff;    
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    padding: 9px 20px 9px 50px;
    position: relative;
    transition: .2s;
    &:after {
        content: '';
        background: url(../../img/arrow-left.png) no-repeat;
        width: 15px;
        height: 15px;
        position: absolute;
        top: calc(27px/2);
        left: 18px;
        transition: .2s;
    }
    &:hover:after {
        left: 15px;
    }
    &:hover {
        background-color: #067dc2;
    }
}