.about {
    margin-top: 80px;    
    p {
        color: #003c7d;        
        font-size: 24px;
        font-weight: 400;
        line-height: 1.25;        
    }
    strong {
        font-family: "Fb Spacer Bold";
        font-weight: 700;
    }
}