<section id="about" class="about container">
    <div class="h2 light">
        אודות
    </div>
    <div class="hr light"></div>

    <p>
        <strong>    נעים מאוד –  מוטי גלוסקה</strong>
        , נשוי ואב לשלושה, תושב הרצליה.
        לאורך חיי הבוגרים העסיקה אותי השאלה מדוע איננו לומדים מההיסטוריה. מדוע כשלים חמורים המתגלים בתהליכי קבלת ההחלטות חוזרים שוב ושוב, ולעיתים אנו משלמים על כך מחיר דמים יקר. כך, אחרי כ-40 שנים בעולם המשפט, פניתי למחקר היסטורי. 
        כיום אני שוקד על עבודת הדוקטורט שלי במחלקה להיסטוריה של עם ישראל באוניברסיטת בן גוריון, כאשר כותרת המחקר היא "בין אגרנט לוינוגרד: סוגיות ביישום המלצות של ועדות חקירה", בהנחייתה של פרופ' חנה יבלונקה.
        את התואר הראשון והשני סיימתי בפקולטה למשפטים באוניברסיטת תל אביב. עבודת המוסמך שלי עסקה בחופש הביטוי, בהנחיית פרופסור אמנון רובינשטיין. מאז סיימתי את לימודי אני מרצה באקדמיה בתחום עיסוקי המקצועי כמשפטן – בתחום הנדל"ן.
        פעילותי האקדמית הייתה מלווה בפעילות ציבורית ענפה: הייתי חבר הוועד המרכזי של לשכת עורכי הדין, הקמתי וניהלתי את המוסד לבוררות של לשכת עורכי הדין ומיד לאחר מלחמת יום הכיפורים הייתי ממקימי תנועת 'שינוי'.
    </p>
    <p>
        הקשר העמוק שלי לתחום הביטחון החל עם גיוסי לצה"ל לפני 50 שנים. לאחר שהשתתפתי בכל מערכות ישראל מאז – מלחמת ההתשה, מלחמת יום הכיפורים, מלחמת לבנון הראשונה, מלחמת לבנון השנייה וכל המבצעים הקצרים יותר – נרשמו לזכותי מאות אם לא אלפי ימי מילואים בפיקוד הצפון, שם שימשתי כמפקד יחידה לוגיסטית בדרגת אלוף-משנה. בתפקידי הייתי ממונה על מערך השליטה בהיסעים ותנועות, והשתתפתי גם ביציאת צה"ל מלבנון (שנת 2000) ובהתנתקות (2005). 
        ההיכרות שלי עם המערכת הצבאית ומערכת היחסים בינה לבין הדרג המדיני סיקרנו אותי, והובילו לכך שסוגיית הקשר הזה ותהליכי קבלת ההחלטות יעמדו במרכז המחקר שלי. המחקר הוא אקדמי, אולם הכוונה היא שתהיה לו השפעה על תהליכי הלמידה, וקבלת ההחלטות בתחום החשוב ביותר למדינת ישראל ותושביה – תחום הביטחון הלאומי.
    </p>
</section>