<section id="contacts" class="contacts">
    <div class="h2">צור קשר</div>
    <div class="hr"></div>

    <div class="contacts__form" data-aos="fade-up-middle" data-aos-offset="100">
        <form class="form">
            <label>
                <input name="name" placeholder="שם מלא" type="text" class="form__input">
            </label>
            <label>
                <input name="phone" placeholder="טלפון" type="text" class="form__input">
            </label>
            <label>
                <input name="email" placeholder="דוא“ל" type="email" class="form__input">
            </label>
            <label>
                <input name="face_part" placeholder="נושא פניה" type="text" class="form__input">
            </label>
            <textarea name="message" placeholder="הודעה" class="form__input"></textarea>
            <button class="form__submit" type="submit">
                שלח
            </button>
        </form>
    </div>
</section>