.contacts {
    margin-top: 80px;
}

.contacts__form {
    max-width: 500px;
    margin: 80px auto 50px;
}

.form__input {
    display: block;
    margin: 20px 0;
    width: 100%;
    border-radius: 35px;
    border: 2px solid #0088d6;
    background-color: #fff;
    color: #003c7d;
    font-family: "Fb Spacer";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    padding: 16px 15px;
    &:focus {
        outline: none;
    }
    &::placeholder  {
        color: #003c7d;
    }
}

.form__submit {
    border-radius: 35px;
    background-color: #0088d6;
    color: #fff;
    font-family: "Fb Spacer";
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    border: none;
    padding: 15px;
    position: relative;
    transition: .3s;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        left: 30px;
        top: 18px;
        background: url(../../img/send.png) no-repeat;
        width: 27px;
        height: 27px;
        transition: .2s;
    }
    &:hover {
        background-color: #0375b8;
    }
    &:hover:before {
        left: 27px;
    }
}

textarea {
    height: 140px;
    resize: vertical;
    min-height: 64px;
}