<nav class="nav">
    <ul class="nav__menu menu">
        <li class="menu__item"><a href="#blog">בלוג</a></li>
        <li class="menu__item"><a href="#about">אודות</a></li>
        <li class="menu__item"><a href="#research">המחקר שלי</a></li>
        <li class="menu__item"><a href="#lectures">הרצאות</a></li>
        <li class="menu__item"><a href="#contacts">צור קשר</a></li>
    </ul>

    <div id="toggle_menu" class="nav__toggle-menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="nav__menu-mobile-container">
        <div id="toggle_menu2" class="nav__toggle-menu--open">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <ul class="nav__menu-mobile menu-mobile">
            <li class="menu-mobile__item"><a href="#blog">בלוג</a></li>
            <li class="menu-mobile__item"><a href="#about">אודות</a></li>
            <li class="menu-mobile__item"><a href="#research">המחקר שלי</a></li>
            <li class="menu-mobile__item"><a href="#lectures">הרצאות</a></li>
            <li class="menu-mobile__item"><a href="#contacts">צור קשר</a></li>
        </ul>
    </div>
        
    <div class="nav_fb fb_follow">
        <div class="fb_follow__text">
            <a href="https://facebook.com/" target="_blank">
                עקבו אחרי
            </a>
        </div>
        <div class="fb_follow__icon">
            <img src="../../img/fb.png" alt="Facebook">
        </div>
    </div>
</nav>