.nav {
    width: 100%;
    position: fixed;
    height: 80px;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding-top: 26px;
    box-shadow: 0 3px 39px 7px rgba(112, 112, 112, 0.23);

    @include md(padding-top, 22px);
}

.menu {        
    font-size: 24px;
    font-weight: 700;    
    @include row-flex();
    margin: 0;
    justify-content: center;
}

.nav__menu {
    @media (max-width: 1050px) {
        padding-left: 70px;
    }
    @media (max-width: 900px) {
        padding-left: 130px;
    }
    @media (max-width: 850px) {
        padding-left: 160px;
    }
    @include md(display, none);
}

.menu__item {
    list-style: none;
    a {
        color: #003c7d;
        padding: 8px 30px;
        margin: 0 15px;
        text-decoration: none;
        @media (max-width: 1150px) {
            padding: 8px 20px;
        }
        @include lg(margin, 0 6px);
        @media (max-width: 850px) {
            margin: 0;
        }
    }
    &.active a, a:hover {
        color: #fff;
        border-radius: 20px;        
        background-color: #014694;
    }
}

.fb_follow {
    position: fixed;
    top: 17px;
    left: 30px;    
    display: flex;    
    align-items: center;
    @include md(display, none);
}
.fb_follow__text a {
    color: #003c7d;
    text-decoration: none;
    font-family: "Fb Spacer";
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
    &:hover {
        text-decoration: underline;
    }
}
.fb_follow__icon {    
    img {
        width: 39px;
    }
}

.nav__toggle-menu, .nav__toggle-menu--open {
    display: none;
    padding-right: 20px;
    @include md(display, inline-block);
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 4px;
        background-color: #014694;
        margin: 6px 0;        
        transition: .4s;
        border-radius: 4px;
    }
    .bar1 {
        width: 30px;
    }
    .bar2 {
        width: 25px;
    }
    &.change {
        .bar1 {    
            transform: rotate(-45deg) translate(-7px, 6px);
            width: 35px;    
        }
        .bar2 {
            opacity: 0;    
        }
        .bar3 {    
            transform: rotate(45deg) translate(-8px, -8px);    
        }
    }
}

.nav__toggle-menu--open {
    @include md(display, block);
    height: 80px;
    padding-top: 22px;
}

.nav__menu-mobile-container {
    display: none;    
    position: fixed;
    top: 0;
    height: auto;
    width: 94%;
    right: 0;    
    z-index: 100;
    background: #fff;
    height: 100vh;
    box-shadow: -2px 14px 23px 9px rgba(0,0,0,.48);  
}

.menu-mobile {    
    margin-top: 10px;
}

.menu-mobile__item {
    list-style: none;
    a {
        color: #001d4b;
        font-family: "Fb Spacer";
        font-size: 40px;
        font-weight: 400;
        text-decoration: none;
        border-bottom: 1px solid rgba(17, 17, 17, 0.2);
        display: block;
        width: 100%;
        padding: 0 5px 10px 0;
    }    
    padding: 10px 40px 0px 25px;
    &.active {
        background: #001d4b;
        border: 1px solid #001d4b;
        a {
            color: #fff;
        }
    }
    &:last-child a {
        border: none;
    }
}