<footer class="footer">
    <div class="footer__fb">
        <a href="#" target="_blank">
            <img src="../../img/fb_footer.png" alt="facebook" />
        </a>
    </div>
    <ul class="footer__menu menu">
        <li class="menu__item"><a href="#blog">בלוג</a></li>
        <li class="menu__item"><a href="#about">אודות</a></li>
        <li class="menu__item"><a href="#research">המחקר שלי</a></li>
        <li class="menu__item"><a href="#lectures">הרצאות</a></li>
        <li class="menu__item"><a href="#contacts">צור קשר</a></li>
    </ul>

    <div class="copyright">
        <div class="item">
            Design UI/UX &amp; Creative:
            <a href="http://z-designpro.co.il/" target="_blank"
                >Z-DESIGN {PRO}</a
            >
        </div>
        
        <div class="item">2019 © "כל הזכויות שמורות ל "מוטי גלוסקה</div>
    </div>
</footer>
