.footer {
    background: #001d4b;
    min-height: 200px;
    position: relative;
    margin-top: 140px;
    &:before {
        content: '';
        background: url(../../img/footer_top.png) no-repeat;
        width: 100%;
        height: 8px;
        position: absolute;
        top: -6px;
        left: 0;
    }
}

.footer__fb {
    position: absolute;
    left: 0;
    right: 0;
    top: -27px;
    width: 55px;
    margin: auto;
}

.footer__menu {
    margin-top: 20px;
    padding-top: 80px;
    a {
        font-size: 18px;
        color: #fff;
        margin: 0;
        padding: 1px 35px;
        &:hover {
            background: none;
            text-decoration: underline;
        }
    }
    li {
        a { border-left: 1px solid #fff; }
        &:last-child a {
            border: none;
        }
    }
    li.active a {
        border-radius: 0;
        background: none;
    }
}

.copyright {
    color: #fff;
    font-size: 16px;
    margin-top: 50px;    
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;    
    .item {
        direction: ltr;
        margin: 0 20px;        
        a {
            text-decoration: underline;
            color: #fff;
        }
        a:hover {
            text-decoration: none;
        }
    }
}