* {
    box-sizing: border-box;
    direction: rtl;
}
body {
    
    font-family: "Fb Spacer";
}
h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();    
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

.h2 {
    color: #003c7d;
    font-family: "Fb Spacer";
    font-size: 80px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    &.light {
        color: #0088d6;
    }
}

.h3 {
    color: #003c7d;
    font-family: "Fb Spacer";
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
}

.hr {
    width: 332px;
    height: 14px;
    background: url(../../img/hr.png) center no-repeat;
    margin: 10px auto 40px;
    &.light {
        background: url(../../img/hr_light.png) center no-repeat;
    }
}